[submodule "jellybeans.vim"]
	path = jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "gist-vim"]
	path = gist-vim
	url = git://github.com/mattn/gist-vim.git
